@import './_colors.scss';

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-title {
  color: $title-color;
}

.album-main {
  font-size: 14px;
  color: $title-color;
}

.album-sub {
  font-size: 12px;
  color: $title-color;
}