@import 'colors';

.album-container {
  width: 160px;
  height: 240px;
  margin: 10px;
  background: $album-background;
  -webkit-box-shadow: 10px 10px 62px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 62px 2px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 62px 2px rgba(0,0,0,0.75);
}

.album-container:hover {
  -webkit-box-shadow: 10px 10px 62px 2px rgba(255,255,255,1);
  -moz-box-shadow: 10px 10px 62px 2px rgba(255,255,255,1);
  box-shadow: 10px 10px 62px 2px rgba(255,255,255,1);
}

.album-details {
  height: 80px;
  margin: 8px;
}
