
.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #212527;
  flex-direction: row;

  .details_container {
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;

    .details_and_controls_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

    }
  }

  .song {
    user-select: none;
    margin: 0 20px;
    .song__title {
      margin: 0;
      color: white;
      text-align: left;
      &:hover {
        color: grey;
      }
    }

    .song__artist {
      margin: 0;
      color: white;
      font-weight: normal;
      font-size: 1em;
      text-align: left;

      &:hover {
        color: grey;
        cursor: pointer;
      }
    }
  }

  .controls {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .player__button {
    width: fit-content;
    margin-bottom: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
    &:hover {
      cursor: pointer;
      svg {
        color: grey;
      }
    }

    svg {
      font-size: 4em;
      color: white;
    }
  }

  .bar {
    margin: 0 20px;
    user-select: none;
    max-width: 100%;
    display: flex;
    align-items: center;

    .bar__time {
      color: white;
      font-size: 16px;
    }

    .bar__progress {
      flex: 1;
      border-radius: 5px;
      margin: 0 20px;
      height: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .bar__progress__knob {
        position: relative;
        height: 16px;
        width: 16px;
        border: 1.5px solid white;
        border-radius: 50%;
        background-color: lightblue;
      }
    }
  }

  @media screen and (max-width: 800px) {
    flex-direction: column;

    .controls {
      width: 100%;
      margin-top: 20px;
    }

    .bar {
      width: 90%;
    }
  }

  @media screen and (max-width: 500px) {
    .song {
      .song__title {
        font-size: 2.5em;
      }

      .song__artist {
        font-size: 0.8em;
      }
    }
  }
}
